Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2024-02, with the labels that each got.

#23 Added log switches for local env
  server/src/controllers/auth/login.ts
  server/src/controllers/auth/register.ts
  server/src/controllers/baseLoad.ts
  server/src/middleware/debugDataLog.ts
Labels: prod

#24 Update updateCredits.ts to show non store items
  server/src/data/updateCredits.ts
Labels: server, alpha, prod

#31 feature: mr2 world map
  client/scripts/BUILDING11.as
  client/scripts/com/monsters/maproom_manager/MapRoomManager.as
  server/example.env
  server/src/app.routes.ts
  server/src/config/DevSettings.ts
  server/src/config/MapRoomSettings.ts
  server/src/controllers/baseLoad.ts
  server/src/controllers/baseSave.ts
  server/src/controllers/maproom/v2/cells/homeCell.ts
  server/src/controllers/maproom/v2/cells/wildMonsterCell.ts
  server/src/controllers/maproom/v2/getArea.ts
  server/src/controllers/maproom/v2/saveBookmarks.ts
  server/src/controllers/maproom/v2/setMapVersion.ts
  server/src/controllers/maproom/v2/takeoverCell.ts
  server/src/controllers/maproom/v2/transferAssets.ts
  server/src/controllers/migrateBase.ts
  server/src/controllers/updateSaved.ts
  server/src/data/buildings.ts
  server/src/data/flags.ts
  server/src/data/getDefaultBaseData.ts
  server/src/data/savefiles/index.ts
  server/src/data/savefiles/kozu.ts
  server/src/data/savefiles/legionnaire.ts
  server/src/data/updateCredits.ts
  server/src/data/updateResources.ts
  server/src/database/migrations/Migration20240211081127.ts
  server/src/mikro-orm.config.ts
  server/src/models/save.model.ts
  server/src/models/worldmapcell.model.ts
  server/src/services/base/loadBase.ts
  server/src/services/maproom/v2/index.ts
  server/src/services/maproom/v2/wildMonsters.ts
  server/src/services/maproom/v2/world.ts
Labels: beta, server
