Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2024-11, with the labels that each got.

#82 Fix resource capacity text
  client/scripts/BRESOURCE.as
Labels: enhancement, client

#81 Fix building_wall_upgrade text spacing
  server/public/gamestage/assets/english.json
  server/public/gamestage/assets/french.json
  server/public/gamestage/assets/portuguese.json
  server/public/gamestage/assets/spanish.json
Labels: enhancement, server

#86 Fix outpost resource production text
  client/scripts/BRESOURCE.as
Labels: enhancement, client, mr2

#93 bugfix: multiple bug fixes
  server/src/controllers/base/save/baseSave.ts
  server/src/services/base/updateMonsters.ts
Labels: mr2

#94 enhancement: persist only when protection changed
  server/src/controllers/base/save/baseSave.ts
  server/src/services/maproom/v2/damageProtection.ts
Labels: enhancement, server

#98 Bugfix - balancedReward
  server/src/controllers/base/load/balancedReward.ts
Labels: bug, enhancement, beta, server

#95 Reintroduced Debug Console
  client/scripts/com/monsters/debug/Console.as
  client/scripts/com/monsters/debug/ConsoleCommands.as
Labels: enhancement

#101 fix(takover-price): set price based on empire value
  server/src/controllers/maproom/v2/cells/userCell.ts
Labels: bug, server, mr2
