Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2024-12, with the labels that each got.

#103 SecNum implementation for build/upgrade times
  client/scripts/BASE.as
  client/scripts/BFOUNDATION.as
  client/scripts/BUILDINGOPTIONSPOPUP.as
  client/scripts/GLOBAL.as
  client/scripts/INFERNOYARDPROPS.as
  client/scripts/OUTPOST_YARD_PROPS.as
  client/scripts/POPUPS.as
  client/scripts/STORE.as
  client/scripts/YARD_PROPS.as
  client/scripts/com/monsters/display/BuildingOverlay.as
Labels: enhancement, beta, client

#107 bugfix: fix claiming of quest on outpost
  server/src/controllers/base/save/baseSave.ts
Labels: beta, server, mr2

#106 SecNum implementation for all building resource interactions
  client/scripts/BASE.as
  client/scripts/BFOUNDATION.as
  client/scripts/BUILDINGOPTIONSPOPUP.as
  client/scripts/GLOBAL.as
  client/scripts/INFERNOYARDPROPS.as
  client/scripts/OUTPOST_YARD_PROPS.as
  client/scripts/SIGNS.as
  client/scripts/STORE.as
  client/scripts/TUTORIAL.as
  client/scripts/YARD_PROPS.as
  client/scripts/popup_prefab.as
Labels: enhancement, beta, client

#87 GetCellsInRange rewrite.
  client/scripts/com/monsters/maproom_advanced/MapRoomPopup.as
Labels: enhancement, client, mr2

#118 Migration of bym_discord database into new table within primary bym database
  server/src/controllers/auth/login.ts
  server/src/models/user.model.ts
Labels: enhancement, beta, server

#119 Added validation for MapRoom access for account grace period
  server/src/app.routes.ts
  server/src/controllers/base/save/baseSave.ts
  server/src/controllers/maproom/v2/getArea.ts
  server/src/controllers/maproom/v2/setMapVersion.ts
  server/src/middleware/auth.ts
Labels: mr2
