Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2025-08, with the labels that each got.

#175 Inferno PvP Implementation
  server/src/controllers/base/load/baseLoad.ts
  server/src/controllers/base/load/modes/infernoModeAttack.ts
  server/src/controllers/base/load/modes/infernoModeBuild.ts
  server/src/controllers/inferno/infernoSave.ts
  server/src/controllers/maproom/inferno/getNeighbours.ts
  server/src/database/migrations/Migration20250803031535.ts
  server/src/enums/MapRoom.ts
  server/src/models/attacklogs.model.ts
  server/src/models/infernomaproom.model.ts
  server/src/models/save.model.ts
  server/src/services/base/createAttackLog.ts
  server/src/services/maproom/inferno/addAttackerAsNeighbour.ts
  server/src/services/maproom/inferno/createNeighbourData.ts
  server/src/services/maproom/v2/damageProtection.ts
Labels: beta, inferno, feature

#174 Balthazar: Targeting Krallen, Defense Flags, Damage Multiplier when Defending.
  client/scripts/CREATURES.as
  client/scripts/com/monsters/monsters/MonsterBase.as
  client/scripts/com/monsters/monsters/creeps/CreepBase.as
  client/scripts/com/monsters/monsters/creeps/inferno/Balthazar.as
Labels: bug, enhancement, client

#173 Fixes to minor Inferno bugs
  client/scripts/ACADEMY.as
  client/scripts/INFERNOYARDPROPS.as
  client/scripts/UI_TOP.as
Labels: bug, enhancement, client

#177 [WIP] Add Wild Monster Invasion 1 to BYMR
  client/scripts/ATTACK.as
  client/scripts/BASE.as
  client/scripts/BFOUNDATION.as
  client/scripts/BTOTEM.as
  client/scripts/BUILDING27.as
  client/scripts/CREATURES.as
  client/scripts/DEFENSEEVENTPOPUP_WM1.as
  client/scripts/GLOBAL.as
  client/scripts/SPECIALEVENT_WM1.as
  client/scripts/UI2.as
  client/scripts/UI_BAITERSCAREAWAY.as
  client/scripts/UI_NEXTWAVE_WM1.as
  client/scripts/WMATTACK.as
  client/scripts/WMIEXTENSIONPOPUP_WM1.as
  client/scripts/WMIROUNDCOMPLETE_WM1.as
  client/scripts/com/monsters/inventory/InventoryManager.as
  client/scripts/com/monsters/monsters/MonsterBase.as
  client/scripts/com/monsters/monsters/champions/ChampionBase.as
  client/scripts/com/monsters/monsters/creeps/CreepBase.as
  client/scripts/com/monsters/ui/UI_BOTTOM.as
  server/public/assets/specialevent/200x200_1.jpg
  server/public/assets/specialevent/monsterinvasionbannerred.jpg
  server/src/app.routes.ts
  server/src/config/DevSettings.ts
  server/src/controllers/events/wildMonsterInvasion.ts
  server/src/data/flags.ts
  server/src/server.ts
  server/src/services/events/setupInvasionEvent.ts
Labels: beta, client, feature

#176 Only show Dave club on main yard
  client/scripts/UI_TOP.as
Labels: bug, inferno
