Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2025-07, with the labels that each got.

#167 Fixed 'fullscreen' mode on Map Room 2
  client/scripts/GLOBAL.as
  client/scripts/com/monsters/maproom_advanced/MapRoomPopup.as
  server/src/server.ts
Labels: bug, enhancement, client

#169 Bugfix: Rezghul using ability outside of battle state. Resurrecting defending monsters freezes game.
  client/scripts/com/monsters/monsters/components/abilities/RezghulResurrectAttack.as
Labels: bug, beta, client

#168 Bugfix: Monsters removed from housing before being flung. Minor oversight when deselecting champion.
  client/scripts/ATTACK.as
  client/scripts/BASE.as
Labels: bug, beta, client

#170 Bugfix: Champion Data Reset. AOEDamage Against Champions; King Wormzor Change.
  client/scripts/BASE.as
  client/scripts/GLOBAL.as
  client/scripts/com/monsters/monsters/components/abilities/AOEDamage.as
  client/scripts/com/monsters/monsters/creeps/inferno/KingWormzer.as
Labels: bug, beta
