Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2025-01, with the labels that each got.

#108 Putty Rage Armor Value Fix (Stacking Defensive Buffs still weird)
  client/scripts/CATAPULTITEM.as
  client/scripts/com/monsters/effects/ResourceBombs.as
Labels: beta, client, OG bug

#120 Fix Rezghul's produce time and targeting behavior
  client/scripts/CREATURELOCKER.as
Labels: enhancement, client

#122 [WIP] Server-side validation improvements for loading and saving bases
  client/scripts/BASE.as
  client/scripts/GLOBAL.as
  server/public/canvas/canvas.htm
  server/src/config/DevSettings.ts
  server/src/controllers/base/load/balancedReward.ts
  server/src/controllers/base/load/modes/baseModeAttack.ts
  server/src/controllers/base/load/modes/baseModeBuild.ts
  server/src/controllers/base/save/baseSave.ts
  server/src/controllers/base/save/handlers/championHandler.ts
  server/src/controllers/base/save/zod/BaseSaveSchema.ts
  server/src/enums/SaveKeys.ts
  server/src/errors/errors.ts
  server/src/models/save.model.ts
  server/src/server.ts
  server/src/services/maproom/v2/validateRange.ts
  server/src/utils/extractTownHall.ts
  server/src/utils/parseChampionData.ts
Labels: enhancement, beta, server

#125 baseid now factors in worldid | flinger range validation factors in toroidal map wrap-around
  server/src/controllers/base/load/modes/baseModeAttack.ts
  server/src/controllers/maproom/v2/cells/wildMonsterCell.ts
  server/src/models/worldmapcell.model.ts
  server/src/services/maproom/v2/validateRange.ts
  server/src/utils/worldIdtoNumber.ts
Labels: beta, server
