Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2025-05, with the labels that each got.

#158 D.A.V.E Club integration
  client/scripts/GLOBAL.as
  client/scripts/com/monsters/subscriptions/SubscriptionHandler.as
  server/public/assets/buildings/decorations/dave_trophy/shadow.jpg
  server/public/assets/buildings/decorations/dave_trophy/top.png
  server/src/data/getDefaultBaseData.ts
  server/src/enums/Rewards.ts
  server/src/server.ts
  server/src/services/base/balancedReward.ts
Labels: server, client, feature

#157 Fix oversight where worker messes up upgrading anything that does not have a fortify property set
  client/scripts/BFOUNDATION.as
Labels: enhancement, client

#159 Bugfix: Infinite DAVE Statues, Decorations Pausing Workers
  client/scripts/BDECORATION.as
  client/scripts/INFERNOYARDPROPS.as
  client/scripts/OUTPOST_YARD_PROPS.as
  client/scripts/YARD_PROPS.as
Labels: enhancement, client

#161 Homebase now always points to the user's main yard save
  server/src/controllers/base/mapUserSaveData.ts
  server/src/controllers/maproom/v2/takeoverCell.ts
  server/src/data/tribes/abunaki.ts
  server/src/data/tribes/dreadnaught.ts
  server/src/data/tribes/kozu.ts
  server/src/data/tribes/legionnaire.ts
  server/src/services/maproom/v2/wildMonsters.ts
Labels: bug, server

#162 Leaderboards Implementation: Controllers & routing
  server/src/app.routes.ts
  server/src/controllers/leaderboards/getAvailableWorlds.ts
  server/src/controllers/leaderboards/getLeaderboards.ts
  server/src/models/world.model.ts
  server/src/services/maproom/v2/joinOrCreateWorld.ts
Labels: server, feature

#163 Attack Logs API implementation
  server/src/app.routes.ts
  server/src/controllers/attacklogs/getAttackLogs.ts
  server/src/controllers/base/load/modes/baseModeAttack.ts
  server/src/enums/AttackLogFilter.ts
  server/src/mikro-orm.config.ts
  server/src/models/attacklogs.model.ts
  server/src/services/base/createAttackLog.ts
Labels: enhancement, server, feature

#160 Monster Transfer Bugfixes: Bases Swap Monsters, Base Not Showing Monsters
  client/scripts/com/monsters/maproom_advanced/MapRoom.as
  server/src/controllers/maproom/v2/transferMonsters.ts
Labels: bug, server, client
