Repository bym-refitted/backyard-monsters-refitted, pull requests merged in 2025-04, with the labels that each got.

#141 Map Room 1 / Inferno Map Room Implementation [Tribes]
  client/scripts/com/monsters/maproom_inferno/PlayerLayer.as
  server/public/assets/ui/inferno_maproom1.jpg
  server/src/app.routes.ts
  server/src/config/DevSettings.ts
  server/src/controllers/base/load/baseLoad.ts
  server/src/controllers/base/load/modes/infernoModeAttack.ts
  server/src/controllers/base/load/modes/infernoModeBuild.ts
  server/src/controllers/base/load/modes/infernoModeView.ts
  server/src/controllers/base/save/baseSave.ts
  server/src/controllers/base/save/handlers/resourceHandler.ts
  server/src/controllers/base/save/zod/BaseSaveSchema.ts
  server/src/controllers/inferno/infernoSave.ts
  server/src/controllers/maproom/inferno/getNeighbours.ts
  server/src/data/tribes/molochTribes.ts
  server/src/enums/Tribes.ts
  server/src/models/infernomaproom.model.ts
  server/src/models/save.model.ts
  server/src/models/user.model.ts
  server/src/services/maproom/v1/createScaledTribes.ts
  server/src/services/maproom/v1/scaledTribes.ts
Labels: server, inferno

#142 Added rate limiter to register route
  server/package-lock.json
  server/package.json
  server/src/app.routes.ts
  server/src/controllers/auth/register.ts
  server/src/enums/Env.ts
Labels: enhancement, server

#143 Bugfix: Townhall Up/Downgrading, Saving Unplaced Buildings, Mushrooms Canceling Worker
  client/scripts/BASE.as
  client/scripts/BFOUNDATION.as
Labels: bug, client

#147 Mailbox (Rewrite) Implementation
  client/scripts/UI_TOP.as
  client/scripts/com/monsters/maproom_advanced/PopupInfoEnemy.as
  client/scripts/com/monsters/maproom_advanced/PopupInfoMine.as
  server/package-lock.json
  server/package.json
  server/src/app.routes.ts
  server/src/config/DevSettings.ts
  server/src/controllers/mail/getMessageTargets.ts
  server/src/controllers/mail/getMessageThread.ts
  server/src/controllers/mail/getMessageThreads.ts
  server/src/controllers/mail/reportMessageThread.ts
  server/src/controllers/mail/sendMessage.ts
  server/src/controllers/mail/zod/GetMessageSchema.ts
  server/src/controllers/mail/zod/ReportMessageSchema.ts
  server/src/controllers/mail/zod/SendMessageSchema.ts
  server/src/controllers/maproom/v2/setMapVersion.ts
  server/src/data/flags.ts
  server/src/database/migrations/Migration20241008154845.ts
  server/src/database/migrations/Migration20241014235341.ts
  server/src/database/migrations/Migration20241018150916.ts
  server/src/database/migrations/Migration20241025210540.ts
  server/src/database/migrations/Migration20241025215137.ts
  server/src/database/migrations/Migration20241118025034.ts
  server/src/database/migrations/Migration20250218222611.ts
  server/src/enums/MapRoom.ts
  server/src/errors/errors.ts
  server/src/mikro-orm.config.ts
  server/src/models/message.model.ts
  server/src/models/thread.model.ts
  server/src/services/mail/countUnreadMessage.ts
  server/src/services/mail/findOrCreateThread.ts
  server/src/services/mail/findUserMessages.ts
Labels: server, feature

#149 Bugfix: Infernal Academy can Cause Game to Lock.
  client/scripts/ACADEMYPOPUP.as
Labels: bug, client, OG bug

#148 Fix: Outpost Upgrade Pausing, Loading older bases
  client/scripts/BASE.as
  client/scripts/BFOUNDATION.as
Labels: enhancement, client

#152 Upgraded to nodeJS version 22.14.0 | Updated package.json packages
  server/package-lock.json
  server/package.json
  server/src/controllers/auth/login.ts
Labels: enhancement, server

#151 Fix Visuals Errors On HATCHERYCCPOPUP.as
  client/scripts/HATCHERYCCPOPUP.as
  client/scripts/HATCHERYPOPUP.as
Labels: enhancement, client

#154 Optimizing BRESOURCES, Reducing Long Load Times Caused by Harvesters
  client/scripts/BRESOURCE.as
Labels: enhancement, client

#155 Fink, Bandito, and Eyera Restorations. Wormzors Bugfix
  client/scripts/Targeting.as
  client/scripts/com/monsters/monsters/MonsterBase.as
  client/scripts/com/monsters/monsters/components/abilities/AOEDamage.as
  client/scripts/com/monsters/monsters/components/abilities/AOEDamageOnAttack.as
  client/scripts/com/monsters/monsters/components/abilities/AOEDamageOnAttackOncePerTarget.as
  client/scripts/com/monsters/monsters/components/abilities/AOEHealOnDeath.as
  client/scripts/com/monsters/monsters/components/abilities/BanditoAOEDamageSpin.as
  client/scripts/com/monsters/monsters/creeps/Bandito.as
  client/scripts/com/monsters/monsters/creeps/CreepBase.as
  client/scripts/com/monsters/monsters/creeps/Fink.as
Labels: bug, enhancement, client

#156 Server-side validation improvements
  client/scripts/ATTACK.as
  client/scripts/BASE.as
  client/scripts/URLLoaderApi.as
  server/src/controllers/auth/forgotPassword.ts
  server/src/controllers/auth/login.ts
  server/src/controllers/auth/register.ts
  server/src/controllers/auth/resetPassword.ts
  server/src/controllers/base/load/baseLoad.ts
  server/src/controllers/base/load/modes/baseModeBuild.ts
  server/src/controllers/base/load/modes/infernoModeBuild.ts
  server/src/controllers/base/save/baseSave.ts
  server/src/controllers/inferno/infernoSave.ts
  server/src/data/championStats.ts
  server/src/data/monsterStats.ts
  server/src/models/report.model.ts
  server/src/models/user.model.ts
  server/src/services/base/reportManager.ts
  server/src/services/maproom/v1/scaledTribes.ts
  server/src/services/maproom/v2/validateRange.ts
  server/src/services/maproom/validateAttack.ts
  server/src/utils/logReport.ts
  server/src/zod/AttackSchema.ts
  server/src/zod/AuthSchemas.ts
  server/src/zod/BaseLoadSchema.ts
  server/src/zod/BaseSaveSchema.ts
Labels: enhancement, server
